<script type="text/javascript" charset="utf-8">
  window.nextflixLogoUrl = '<%= image_url('nextflix-logo.png')%>'
  window.coverWallPaperUrl = '<%= image_url('cover-wallpaper.jpg')%>'
</script>

<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<div id="root">
</div>