.continue-button {
  background-color: #e50914;
  max-width: 340px;
  width: 100%;
  font-weight: 300;
  font-size: 17px;
  border-radius: 2px;
  min-height: 50px;
  border: none;
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 25px;
}
