.navbar-header {
  position: relative;
  margin: 0 55px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nextflix-logo {
  width: 120px;
  //padding-top: 10px;
}
