.signup-page {
  height: 100%;
}

.signup-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 10px;

  img {
    width: 200px;
    height: 90px;
    padding: 0 15px;
  }

  span {
    color: #333;
    float: right;
    font-weight: bold;
    font-size: 19px;
    line-height: 90px;
    padding: 0 30px;
  }
}

.signup-container {
  background-color: #fff;
  height: 100%;

  .signup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    flex-direction: column;

    img {
      width: 250px;
      height: 65px;
      margin: 2.5rem;
    }

    span {
      font-size: 13px;
    }

    h1 {
      font-weight: 700;
      font-size: 23px;
      padding: 4px 0;
    }

    p {
      max-width: 290px;
      font-size: 17px;
      line-height: 25px;
      font-weight: 300;
      text-align: center;
    }

    form {
      max-width: 440px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      //margin-bottom: 280px;

      ul {
        color: red;
        list-style: inside;
        padding-top: 5px;

        li {
          padding: 5px 0;
        }
      }

      h1 {
        font-weight: bold;
        font-size: 23px;
        line-height: 30px;
      }

      p {
        text-align: left;
        font-size: 19px;
        max-width: 340px;
        padding-top: 10px;
        font-weight: 400;
      }

      label {
        position: absolute;
        font-size: 16px;
        color: #8c8c8c;
        top: 0;
        padding: 20px 10px;
        left: 0;
        transition: padding 0.2s;
      }

      input {
        height: 50px;
        width: 94.5%;
        padding: 0 10px;

        &:focus,
        &:valid {
          + label {
            left: 0;
            top: 0;
            padding: 5px 10px;
            font-weight: bold;
            font-size: 13px;
          }
        }
      }

      div {
        position: relative;
        margin-top: 10px;
      }

      button {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}
