$button-background-color: #e50914;
$white: #fff;

.signin-button {
  background-color: $button-background-color;
  border-color: transparent;
  border-radius: 3px;
  color: $white;
  padding: 5px 15px;
  float: right;
  margin-top: 3%;
}
