.slider-container {
  height: 200px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;

  .container {
    display: flex;
    padding: 0 55px;
  }

  .slider-item {
    background: green;
    flex: 0 0 17%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    height: 100px;

    .slider-sub-item {
      display: none;
    }

    &:hover {
      transform: scale(2) !important;

      .slider-sub-item {
        display: block;
      }
    }
  }
}
