.slider-container {
  height: 200px;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;

  .container {
    display: flex;
    padding: 0 55px;

    &:hover .slider-item {
      transform: translateX(-20%);
    }
  }

  .slider-item {
    background: green;
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;

    &:hover {
      transform: scale(1.5) !important;
    }

    &:hover ~ .slider-item {
      transform: translateX(25%);
    }
  }
}
